body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 8px;
}

video, canvas {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

#app-container {
  width: 100%;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.title, h1 {
  font-family: sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
}

.controls {
  margin-top: 1rem; display: flex; justify-content: center; gap: 1rem; flex-wrap: wrap;
  align-items: center;
}
.controls > * { padding: 0.5rem; font-size: 1rem; }


.thumbnail {
  position: relative;
  display: inline-block;
  margin: 5px;
  max-width: 25%;
  width: 160px;
}

.thumbnail img {
  display: block;
  height: auto;
  width: 100%;
}

.delete-btn {
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
.delete-btn span {
  position: absolute;
  top: 2px;
  right: 2px;
  background: #666;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 2px 4px;
  cursor: pointer;
  font-size: 14px;
}
.delete-btn span:hover {
}

#sketch-container {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.overlay-controls {
  position: absolute;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  display: flex;
  gap: 5px;
}
.overlay-controls button {
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 100%;
  position: relative;
  flex: 1;
}
.overlay-controls button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.overlay-controls button span {
  background-color: #eee;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 8px;
  position: absolute;
  left: 8px;
  top: 8px;
  white-space: nowrap;
}
#thumbnails canvas {
  cursor: pointer; border: 1px solid #333;
}
.controls { margin-top: 8px; }

